<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>Backbone Intro</title>
  <link rel="stylesheet" type="text/css" href="css/style.css" media="all">
  <script src="/js/jquery.js"></script>
  <script src="/js/underscore-min.js"></script>
  <script src="/js/backbone.js"></script>
  <script src="main.js"></script>
</head>
<body>
  <script type="text/template" id="chat-li">
    <li><%- text %></li>
  </script>

  <div class="client">
    <ul class="history">

    </ul>
    <div>
      <input type="text" class="text" />
      <input type="button" class="chat" value="Chat" />
    </div>
  </div>
</body>
</html>
