!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
    div
      span Hello World On layout.jade
    div
      a(href="/blog/new") Add new Blog
    div
      a(href="/person/new") Add new Person
