h1= title
#people
    - each person in people
      div.person
        div.created_at= person.created_at
        div.firstname 
            a(href="/blog/"+person._id.toHexString())!= person.firstname
        div.lastname= person.lastname
        div.birthdate= person.birthdate
