h1= title
form( method="post")
    div
        div
            span First Name :
            input(type="text", name="firstname", id="addFirstName")
        div
            span Last Name :
            input(type="text", name="lastname", id="addLastname")
        div
            span Birth Date :
            input(type="text", name="birthdate", id="addBirthdate")
        div
            span Middle Name :
            input(type="text", name="middlename", id="addmiddlename")
        div#editArticleSubmit
            input(type="submit", value="Send")
